In [25]:
print('OK')

OK

In [26]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [27]:
# Correct dataset path
# Candidate paths
path1 = r"C:\Users\LENOVO\MachineLearningProhects\StudentPerformancePrediction-End-To-End\data\raw\student.csv"
path2 = r"C:\Users\TPWODL\New folder_Content\StudentPerformancePrediction-End-To-End\data\raw\student.csv"

# Condition check
if os.path.exists(path1):
    dataset_path = path1
elif os.path.exists(path2):
    dataset_path = path2
else:
    raise FileNotFoundError("❌ student.csv not found in either path!")

print(f"✅ Using dataset: {dataset_path}")

✅ Using dataset: C:\Users\LENOVO\MachineLearningProhects\StudentPerformancePrediction-End-To-End\data\raw\student.csv

In [28]:
df = pd.read_csv(dataset_path)

In [29]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [30]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [31]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [33]:
# Split into train and validation sets
train_df, test_df = train_test_split (df, test_size=0.2, random_state=42)

In [40]:
train_df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
29,female,group D,master's degree,standard,none,62,70,75
535,female,group C,bachelor's degree,free/reduced,completed,66,83,83

In [35]:
test_df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
521,female,group C,associate's degree,standard,none,91,86,84
737,female,group B,some college,free/reduced,completed,53,66,73

In [36]:
print("Train shape:", train_df.shape)
print("Test shape:", test_df.shape)

Train shape: (800, 8)
Test shape: (200, 8)

In [37]:
'''
X_train = train_df.drop(columns=['math_score'])
y_train = train_df['math_score']
X_test = test_df.drop(columns=['math_score'])
y_test = test_df['math_score']
'''

"\nX_train = train_df.drop(columns=['math_score'])\ny_train = train_df['math_score']\nX_test = test_df.drop(columns=['math_score'])\ny_test = test_df['math_score']\n"

In [38]:
'''
print(X_train.shape, y_train.shape
      , X_test.shape, y_test.shape)
'''

'\nprint(X_train.shape, y_train.shape\n      , X_test.shape, y_test.shape)\n'

In [39]:
import joblib
import pandas as pd

In [44]:
target_col = "math_score"