In [1]:
print('OK')

OK

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv(r'C:\Users\TPWODL\New folder_Content\StudentPerformancePrediction-End-To-End\data\raw\student.csv')

In [4]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [6]:
# Split into train and validation sets
train_df, test_df = train_test_split (df, test_size=0.2, random_state=42)

In [7]:
train_df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
29,female,group D,master's degree,standard,none,62,70,75
535,female,group C,bachelor's degree,free/reduced,completed,66,83,83

In [8]:
test_df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
521,female,group C,associate's degree,standard,none,91,86,84
737,female,group B,some college,free/reduced,completed,53,66,73

In [9]:
print("Train shape:", train_df.shape)
print("Test shape:", test_df.shape)

Train shape: (800, 8)
Test shape: (200, 8)

In [10]:
X_train = train_df.drop(columns=['math_score'])
y_train = train_df['math_score']
X_test = test_df.drop(columns=['math_score'])
y_test = test_df['math_score']

In [11]:
print(X_train.shape, y_train.shape
      , X_test.shape, y_test.shape)

(800, 7) (800,) (200, 7) (200,)

In [15]:
import joblib
import pandas as pd

In [ ]:
user_input = pd.DataFrame([{
    "gender": "female",
    "race_ethnicity": "group B",
    "parental_level_of_education": "bachelor's degree",
    "lunch": "standard",
    "test_preparation_course": "none",
    "math_score": 74,
    "reading_score": 72,
    "writing_score": 74
}])

In [18]:
# Load both
preprocessor = joblib.load("deployed_preprocessor.pkl")
model = joblib.load("best_model.pkl")

# Transform user input
X_user = preprocessor.transform(user_input)

# Predict
predicted_score = model.predict(X_user)
print("ðŸŽ¯ Predicted Math Score:", predicted_score[0])

ValueError: X has 19 features, but Lasso is expecting 18 features as input.